<div class="sidebar-box">
  <h3>Blogroll</h3>
  <ul>
  <li><a href=https://www.unz.com/anepigone/>Audacious Epigone</a></li>
  <li><a href=https://thewaywardaxolotl.blogspot.com/>The Wayward Axolotl</a></li>
  <li><a href=https://brittonicmemetics.wordpress.com/>Brittonic memetics</a></li>
  <li><a href=https://www.unz.com/akarlin/>Anatoly Karlin's blog</a></li>
  <li><a href=https://thealternativehypothesis.org/>The Alternative Hypothesis</a></li>
  <li><a href=https://jaymans.wordpress.com/>JayMan's Blog</a></li>
  <li><a href=https://emilkirkegaard.dk/en/>Clear Language, Clear Mind</a></li>
  <li><a href=https://ideasanddata.wordpress.com/>Sean Last's blog</a></li>
  <li><a href=https://westhunt.wordpress.com/>West Hunter</a></li>
  <li><a href=https://infoproc.blogspot.com/>Steve Hsu's blog</a></li>
  <li><a href=https://zerocontradictions.github.io/>Zero Contradictions</a></li>
  </ul>
</div>
