{%- include fertility-directory.html -%}
<div>
  <h1>Instructions:</h1>
  <noscript>Requires javascript enabled.</noscript>
  <p> Hover mouse over geographic area to see the
    <a href="/fertility-appendix#Computed_Variables" style="text-decoration: underline;">CRR</a/> and the
    <a href="/fertility-appendix#Computed_Variables" style="text-decoration: underline;">ACE</a> for the given
    <a href="/fertility-appendix#Racial_Designations" style="text-decoration: underline;">racial group</a> in that area.
  <br>Scroll to zoom. Click and drag to move. Use widget below to switch between year, region, racial group, and color scheme.
  </p>
</div>
