<div class="sidebar-box">
  <h3>Useful Data</h3>
  <ul style="list-style-type:none">
  <li>
  People
  <ul>
    <li><a href=https://viewoniq.org/>View on IQ</a></li>
    <li><a href=https://ipums.org/>IPUMS</a></li>
    <li><a href=https://gssdataexplorer.norc.org/>GSS Data Explorer</a></li>
    <li><a href=https://sda.berkeley.edu/archive.htm>SDA for GSS</a></li>
    <li><a href=https://today.yougov.com/>YouGov</a></li>
    <li><a href=https://www.cdc.gov/nchs/data_access/vitalstatsonline.htm>Vital Stats Online</a></li>
    <li><a href=https://wonder.cdc.gov/>CDC WONDER</a></li>
  </ul>
  </li>
  <li>
  Product
  <ul>
    <li><a href=https://rateyourmusic.com/>rateyourmusic</a></li>
    <li><a href=https://rateyourmusic.com/films/chart>RYM film charts</a></li>
    <li><a href=https://www.metacritic.com/>metacritic</a></li>
    <li><a href=https://opensyllabus.org/>Open Syllabus Project</a></li>
    <li><a href=https://www.imdb.com/>IMDb</a></li>
    <li><a href=https://glitchwave.com>Glitchwave (in beta)</a></li>
    <li><a href=https://sonemic.com>Sonemic (in beta)</a></li>
    <li><a href=https://cinemos.com/>Cinemos (in beta)</a></li>
  </ul>
  </li>
  </ul>
</div>
