---
---

@import "minima";

.wrapper {
  max-width: 1280px;
}

#main {
  float: left;
  width: 75%;
}

#sidebar {
  float: right;
  width: 25%;
}

.sidebar-box{
  border: 6px;
  padding-left: 15px
}

aside{
  border-left: 1px solid black;
  margin-left: -1px;
}
